.np_wrapper:hover .npw_content {
  opacity: 1;
  display: block;
}
.npw_content {
  left: 0;
  top: 54px;
  opacity: 0;
  width: 100%;
  z-index: 101;
  display: none;
  position: absolute;
  transition: opacity .2s;
  background-color: #f1f1f1;
}
.npwc_listWrapper {
  display: flex;
  text-align: left;
  justify-content: space-around;
}
.npwc_item {
  padding: 10px;
  font-size: 20px;
  line-height: 54px;
}
.npwci_list .npwcil_item > a:hover{
  color: #754a4a;
}
.npw_footer,
.npwci_header {
  font-weight: bold;
}
