.np_wrapper:hover + .npw_content{
  display: flex;
}
.npw_content{
  width: 100%;
  z-index: 101;
  display: none;
  position: absolute;
  background-color: #696969;
  justify-content: space-around;
}
