@import "desctop.css";

.cat-nav .container{
  background-color: #828282;
  border-bottom: 3px solid #bb2121;
}
.cat-nav ul{
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  position: relative;
}
.cat-nav ul li{
  float: left;
  width: 33.33%;
  text-align: center
}
.cat-nav ul li:hover{
  background-color: #f1f1f1;
  transition: background-color .2s;
}
.cat-nav ul li:hover a{
  color: #000;
}
.cat-nav .mobile{
  margin: 0 -15px;
  overflow: hidden;
}
.cat-nav .mobile li{
  border-right: 1px dashed #fff
}
.cat-nav .mobile li:last-child{
  border-right: 0;
}
.cat-nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 54px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 991px){
  .cat-nav .container{
    background: #404040;
    border-bottom-width: 2px;
  }
  .cat-nav ul li a{
    line-height: 38px;
  }
}
@media (max-width: 768px){
  .cat-nav ul li {
    height: 38px;
    display: table;
  }
  .cat-nav ul li a{
    width: 100%;
    line-height: 1;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
  }
}
